<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Pompa"/>
    </extensions>

    <targets async="true">
        <target name="graylog" xsi:type="gelf" endpoint="udp://127.0.0.1:12201" facility="GraylogNet"
                sendLastFormatParameter="true"/>
    </targets>

    <rules>
        <logger name="*" levels="Info" writeTo="graylog"/>
        <logger name="*" levels="Debug" writeTo="graylog"/>
        <logger name="*" levels="Warn" writeTo="graylog"/>
        <logger name="*" levels="Error" writeTo="graylog"/>
        <logger name="*" levels="Fatal" writeTo="graylog"/>
    </rules>
</nlog>